/* Creates title "Australian Shepherd" centered overtop of heading picture*/
.titleContainer {
  position: relative;
  text-align: center;
  color: snow;
  background-size: 100% 100%;
}
/* Formating for heading image */
.aussieTitle {
  height: 600px;
  width: 150px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}
/* Formating and styling for title text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300%;
}
/* Creates three coloum navigation bar */
.navBoxItem {
  color: black;
  text-align: center;
  float: left;
  width: 33.33%;
  height: 25px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 165%;
  font-family:Arial, Helvetica, sans-serif;
}
/* Styles article heading*/
.heading {
  padding-top: 5%;
  font-size: 170%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* Formates article image */
.aussieArticle {
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* Styles the facts heading */
.factsTitle {
  font-size: 160%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* Styles the heading for "contact" */
.contactTitle {
  font-size: 160%;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Creates an interactive text box in the form */
input[type="text"] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
/* Creates and styles the "send" button */
input[type="button"] {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  background-color: bisque;
}
/* Creates large interactive text box meant for more than one sentence */
textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 120px;
  resize: none;
}
/* Styles the question heading */
.question {
  font-size: 130%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Organizes all contact related content into a bordered box */
.contact-container {
  margin: 0 auto;
  max-width: 0 auto;
  border: 2px solid black;
  padding: 20px;
}
/* Styles the copyright information */
footer {
  margin-top: 30px;
  margin-bottom: 30px;
  float: right;
  margin-right: 20px;
}
/* Formates all page information into the center container */
.page-container {
  display: flex;
}
/* Creates extra space on both the left and right side of the webpage */
.sidebar {
  background-color: tan;
  width: 20%;
}
/* Formates and styles the main information within the page */
.main {
  width: 75%;
  background-color: bisque;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/* Creates space between the content and the edges of page */
.main-padding {
  padding: 10px;
}
