body {
    background-color: bisque;
}

.nav-list{
    background-color: black;
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-item:nth-child(1) {
    margin-left: 10rem;
}

.nav-item:nth-child(8) {
    margin-right: 10rem;
}

.nav-item a {
    text-decoration: none;
    color: #c78c06;
}

/* .active {
    background-color: #c78c06;
    color: black;
} */



.title-container {
    text-align: center;
    position: relative;
    background-color: khaki;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.title-picture {
    height: 800px;
    width: 1200px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about {
    background-color: lightgreen;
}

.services {
    background-color: lightseagreen;
}

.our-vision {
    background-color: lightsteelblue;
}

.extra-info {
    background-color: linen;
}

.footer {
    background-color: orange;
}
